<!DOCTYPE html>
<html lang="en">
<head>
    <title >Book a Meeting Room</title>
</head>
<body>
    <div class="login-container">
      <h2 style="color: #007bff">BOOK A MEETING ROOM</h2>
        <form (ngSubmit)="onSubmit()" style="display: inline-block; text-align: left;">
          <div>
            <label for="username">User Name</label>
            &nbsp;
            <input type="text" id="username" [(ngModel)]="model.username" name="username" required>
          </div>
          <div style="margin-top: 10px;">
            <label for="password" style="padding-left:11px">Password</label>
            &nbsp;
            <input type="password" id="password" [(ngModel)]="model.password" name="password" required>
          </div>
          <div [hidden]="!loginFailed" style="color: red; margin-top: 10px;">
            Login failed. Please check your credentials and try again
          </div>
          <div style="margin-top: 20px;padding-left:80px ;">
            <button type="submit" style="width: 150px;">Login</button>
          </div>
          
        </form>
    </div>
</body>
</html>
  